<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= simple_form_for @note do |f| %>
        <%= f.input :title %>
        <p><%= f.rich_text_area :rich_content %></p>
        <div class="d-flex justify-content-around pb-3">
          <%= f.button :submit, class:"button", value:"Save"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
