<div class=" container notes-form">
  <div class="note-modal">
  <%= simple_form_for @note do |f| %>
    <%= f.input :title %>
    <p><%= f.rich_text_area :rich_content %></p>
    <div class="d-flex justify-content-around pb-3">
      <%= f.button :submit, class:"button", value:"Save"%>
    </div>
  <% end %>
  </div>
</div>
