<div class="banner" id="home">
  <div class="d-flex home-page">
    <div class="video-container mb-0">
      <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home-video" %>
    </div>
  </div>
</div>

