.button{
  background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  transition: background 0.3s ease;
  } .button:hover {
    background-color: #EA2361;
    text-decoration:none;
  }

#navbar-button{
  background-color: transparent;
  color:white;
  text-decoration: none;
  border:none;
} #navbar-button:hover{
    border:none;
}

.add-notes-button {
  background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  margin-top: 45px;
  // margin-left: 50%;
  transition: background 0.3s ease;
} .add-notes-button:hover {
  background-color: #EA2361;
}

.reminder-button {
  background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius:4px;
  border: none;
  padding:8px 16px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  margin-top: 50px;
  transition: background 0.3s ease;
} .reminder-button:hover {
  background-color: #EA2361;
}

.timeline {
  width: 5px;
  height: 400px;
  border: 2px solid #BFBFBF;
  background-color: #BFBFBF;
  margin-left: 50%;
  margin-top: 15px;
}

#reminder-button-index {
  background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius:4px;
  border: none;
  padding:8px 16px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  transition: background 0.3s ease;
} #reminder-button-index:hover {
  background-color: #EA2361;
}

.submit-button {
  background-color: #D9455F;
  padding: 8px 16px;
  margin-top: 8px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  border-radius: 4px;
  width: 100%;
} .submit-button:hover {
  background-color: #EA2361;
  color: white;
}

#banner-button{background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  border: none;
  font-size:20px;
  padding: 16px 24px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  transition: background 0.3s ease;
  } #banner-button:hover {
    background-color: #EA2361;
    text-decoration:none;
  }



// PLEASE DONT COMMENT THIS OUT!!!!!

// border: none;
//   border-bottom: 2px solid black;
//   margin-bottom: 20%;
//   font-family: 'Montserrat', sans-serif;
//   background-color: transparent;
