.button {
  background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  font-size: smaller;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  transition: background 0.3s ease;
  outline: none;
  } .button:hover {
    background-color: #EA2361;
    text-decoration:none;
    color: white;
  }

#navbar-button{
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: none;
  outline: none;
} #navbar-button:hover{
    border: none;
}

.add-notes-button {
  background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 8px 16px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  margin-top: 45px;
  // margin-left: 50%;
  transition: background 0.3s ease;
} .add-notes-button:hover {
  background-color: #EA2361;
}

.reminder-button {
  background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  border: none;
  outline: none !important;
  padding:8px 16px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  margin-top: 50px;
  font-size: smaller;
  transition: background 0.3s ease;
} .reminder-button:hover {
  background-color: #EA2361;
}

#reminder-button-index {
  background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius:4px;
  border: none;
  outline: none;
  padding: 8px 16px;
  font-size: smaller;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  transition: background 0.3s ease;
  margin: 8px 0px;
  margin-bottom: 18px;
} #reminder-button-index:hover {
  background-color: #EA2361;
  color: white;
}

.submit-button {
  background-color: #D9455F;
  padding: 8px 16px;
  margin-top: 8px;
  color: white;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  border-radius: 4px;
  width: 100%;
  font-size: smaller;
} .submit-button:hover {
  background-color: #EA2361;
  color: white;
}

#banner-button {
  background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 16px 24px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  transition: background 0.3s ease;
  } #banner-button:hover {
    background-color: #EA2361;
    text-decoration:none;
  }

.far.fa-file-pdf {
  font-size: 23px;
  cursor: pointer;
  color: #19CAC9;
}

.far.fa-file-alt {
  font-size: 23px;
  cursor: pointer;
  color: #19CAC9;
}
