.button {
  font-family: 'Montserrat', sans-serif;
  border: #EA2361 solid 1px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FAE9EE;
  color: #EA2361;
  outline: none;
  transition: background 0.3s ease;
} .button:hover {
  color: #EA2361;
  background-color: #FAD8E3;
}

.add-notes-button {
  font-family: 'Montserrat', sans-serif;
  border: #EA2361 solid 1px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FAE9EE;
  color: #EA2361;
  outline: none;
  margin-top: 35px;
  transition: background 0.3s ease;
} .add-notes-button:hover {
  color: #EA2361;
  background-color: #FAD8E3;
}

.reminder-button {
  font-family: 'Montserrat', sans-serif;
  border: #EA2361 solid 1px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FAE9EE;
  color: #EA2361;
  outline: none;
  width: 150px;
  transition: background 0.3s ease;
} .reminder-button:hover {
  color: #EA2361;
  background-color: #FAD8E3;
}

#reminder-button-index-db {
  font-family: 'Montserrat', sans-serif;
  border: #EA2361 solid 1px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FAE9EE;
  color: #EA2361;
  outline: none;
  transition: background 0.3s ease;
} #reminder-button-index-db:hover {
  color: #EA2361;
  background-color: #FAD8E3;
}

#reminder-button-index {
  font-family: 'Montserrat', sans-serif;
  border: #EA2361 solid 1px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FAE9EE;
  color: #EA2361;
  outline: none;
  transition: background 0.3s ease;
} #reminder-button-index:hover {
  color: #EA2361;
  background-color: #FAD8E3;
}

.submit-button {
  font-family: 'Montserrat', sans-serif;
  border: #EA2361 solid 1px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #FAE9EE;
  color: #EA2361;
  outline: none;
  transition: background 0.3s ease;
  text-align: center;
} .submit-button:hover {
  color: #EA2361;
  background-color: #FAD8E3;
}

#banner-button {
  background-color: #EA2361;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  font-size:20px;
  border: none;
  outline: none;
  padding: 16px 24px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  transition: background 0.3s ease;
  } #banner-button:hover {
    background-color: #D9455F;
    text-decoration:none;
  }

.far.fa-file-pdf {
  font-size: 23px;
  cursor: pointer;
  color: #19CAC9;
}

.far.fa-file-alt {
  font-size: 23px;
  cursor: pointer;
  color: #19CAC9;
}

.job-button {
  background-color: #FAE9EE;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  border: #EA2361 solid 1px;;
  width: 150px;
  outline: none !important;
  padding: 8px 16px;
  color: #EA2361;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  margin-top: 20px;
  font-size: smaller;
  transition: background 0.3s ease;
} .job-button:hover {
  color: #EA2361;;
  background-color: #FAD8E3;
}

.job-button-cover {
  background-color: #D9455F;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  border: none;
  width: 150px;
  outline: none !important;
  padding: 8px 16px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  margin-top: 20px;
  font-size: smaller;
  transition: background 0.3s ease;
}
.job-button-cover:hover {
  background-color: #EA2361;
  text-decoration:none;
}

.delete-button-showpage {
   margin-left: auto;
   width: 20px;
}
