.status-card {
  height: 100%;
  background-color: #FAFAFA;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 12px;
  padding: 5px 0px;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
}

.application-card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  border-radius: 8px;
  line-height: 12px;
  padding: 8px 10px;
  margin: 12px 0px;
  h4 {
    font-weight: bolder;
  }
  p {
    font-size: 14px;
  }
}

.dropzone {
  min-height: 500px;
}

.card-title {
  margin-top: 20px;
}

.card.sign-up {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 8px;
  padding: 30px;
  background-color: white;
}
