.status-card {
  height: 100%;
  background-color: #F8F9F9;
  padding: 5px 8px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
}

.application-card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
  border-radius: 5px;
  line-height: 12px;
  padding: 8px 10px;
  margin: 12px 0px;
  font-family: 'Montserrat', sans-serif;
  h6 {
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }
}

.dropzone {
  min-height: 500px;
}

.card-title {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.reminders-card{
  background-color: white;
  border-radius: 8px;
  width:100%;
  height:56px;
  padding: 8px 10px;
  margin: 8px 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: 'Montserrat', sans-serif;
  h4 {
    font-weight: bolder;
  }
  p {
    font-size: 14px;
    margin: auto!important;
  }
}

.card.sign-up {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 8px;
  padding: 30px 30px 30px 30px;
  background-color: white;
  width:400px;
    h2{
      padding-bottom:16px;
      font-family: 'Montserrat', sans-serif;
    }
}

.row.card-title {
  margin-right: 0;
  margin-left: 0;
  justify-content: space-around;
  text-align: center;
}

#date-reminder{
  width:80px;
  margin-left:80px;
}

