.applications-container {
  padding: 8px;
  margin: 16px;
  ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
  }
}

.container.reminder-form{
  padding:24px 24px 0px 24px;
}

.container.notes-form{
  padding:24px 24px 0px 24px;
}
.body {
  background-color: #D5EFF2;
}
