.applications-container {
  padding: 8px;
  margin: 0px 16px;
  ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
  }
}

.index-container {
  padding: 8px;
  margin: 0px 16px;
}

.container.reminder-form {
  padding: 24px 24px 0px 24px;
}
.container.notes-form{
  padding: 24px 24px 0px 24px;
}
.body {
  background-color: #D5EFF2;
}
.new-form-container {
  margin-top: 16px;
}

.dashboard {
  border: none;
  border-radius: 8px;
  background-color: #FAFAFB;
  box-shadow:
  inset -10px -10px 15px rgba(255,255,255,0.8),
  inset 10px 10px 15px rgba(70,70,70,0.05);
  outline: none;
}

.container-fluid {
  padding-left: 0;
}

.reminders-show {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width:100%;
}

.reminders-container-show {
  position: fixed;
  margin-top: 101px;
}
