.icon {
  color: #19CAC9;
}

.icon.add {
  color: #19CAC9;
  transition: background 0.3s ease;
} .icon.add:hover {
  color: #15A9BA;
}

.icon.arrow {
  color: #19CAC9;
  transition: background 0.3s ease;
  height:24px;
} .icon.arrow:hover {
  color: #15A9BA;
}

.icon.new {
  color: #EA2361;
  transition: background 0.3s ease;
} .icon.new:hover {
  color: #CF3162;
}

.date-icon {
  display: flex;
  justify-content: space-between;
}


#trash-show{
  color:gray;
}
.icon.delete {
  color: gray;
  transition: background 0.3s ease;
} .icon.delete:hover {
  color: #EA2361;
}
