.info-bottom-border{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom:24px;
  width:95%;
}

.overview{
  border-radius: 8px;
  margin-bottom:32px;
  margin-left:24px;
  padding:16px 24px;
  width:48.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: 'Montserrat', sans-serif;
  border: none;
}
