.symbols {
  a {
    margin-left: 8px;
    color: #19CAC9;
  h1 {
    font-family: 'Montserrat', sans-serif;
    }
  }
}

a:hover {
      text-decoration: none !important;
    }

.symbol {
  color: #19CAC9;
}

.delete-symbol {
  color: gray !important;
  position: relative;
  z-index: 1000;
.delete-symbol:hover {
  color: #686d76 !important;
  }
}

.far.fa-file-pdf:hover {
  color: #2AABB9;
}

.far.fa-file-alt:hover {
  color: #2AABB9;
}

.left-symbol {
  font-size: 100px;
  color: #2AABB9;
  opacity: 0.2;
  margin-left: auto;
  position: relative;
  bottom: 28px;
  right: 27px;
}
