.symbols {
  a {
    margin-left: 8px;
    color: #19CAC9;
  h1 {
    font-family: 'Montserrat', sans-serif;
    }
  }
}

a:hover {
      text-decoration: none !important;
    }

.symbol {
  color: #19CAC9;
}

.delete-symbol {
  color: gray !important;
  position: relative;
  z-index: 1000;
}

