.tabs-underlined {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 12px;
  opacity: .4;
  cursor: pointer;
  text-deocration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #29ABBA;
}
